/* Font-face declarations for custom fonts */
@font-face {
    font-family: "MyFont";
    src: url("fonts/Matahari-700Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "NewFont";
    src: url("fonts/Matahari-800ExtraBold.ttf") format("truetype");
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Đảm bảo không có cuộn ngang */
    scroll-behavior: smooth; /* Đảm bảo cuộn mượt mà */
  }
  

  body {
    font-family: "NewFont", sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url("./images/a.png");
    overflow: hidden;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    -webkit-appearance: none;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .containerr {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .form-container {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    width: 50%;
  }

  .form-content {
    flex-grow: 1;
  }

  img {
    flex-shrink: 0;
  }

  input {
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    height: 55px;
    border: none;
    background-color: #f0f0f0 !important;
    border-radius: 5px;
    display: block;
    font-size: 15px;
  }

  /* Button style */
  button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 5px 0px #0026a4;
    border: 2px solid #0026a4;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    z-index: 100;
    transition: box-shadow 250ms, transform 250ms, filter 50ms;
  }

  .button#submitButton {
    box-shadow: 0px 0px 0px #ffffff;
    border: 0px;
    background: linear-gradient(to right, #b3edfc, #fbd3f5);
    box-shadow: 0px 4px 6px hsla(240, 40%, 90%, 0.7);
    font-family: "MyFont", sans-serif;
    font-size: 0.8rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #ff34ac;
  }

  .button-container {
    display: flex;
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    gap: 20px;
    /* Khoảng cách giữa các nút */
    flex-wrap: wrap;
    /* Đảm bảo rằng các button sẽ xuống hàng khi không đủ chỗ */
    padding-bottom: 5%;
    margin-left: 4%;
    /* Sử dụng % để margin responsive */
  }

  #shareButton,
  #downloadButton {
    font-size: 20pt;
    font-family: "NewFont", sans-serif;
    padding: 10px 10px;
  }

  button#downloadButton,
  button#shareButton {
    font-size: calc(0.8rem + 0.5vw);
    /* Tăng cường tính responsive cho font-size */
    font-family: "NewFont", sans-serif;
    /* Áp dụng font tùy chỉnh */
    width: 35vw;
    /* Tính tỷ lệ width dựa trên viewport width */
    height: auto;
    /* Đặt chiều cao tự động */
    padding: calc(0.5rem + 0.5vw) 1rem;
    /* Thêm padding để tạo không gian */
    max-width: 180px;
    /* Giới hạn tối đa cho width */
    max-height: 30px;
    /* Giới hạn tối đa cho height */
    min-width: 140px;
    /* Giới hạn tối thiểu cho width */
    min-height: calc(30px + 1rem);
    /* Thiết lập height tối thiểu để đảm bảo có không gian */
    display: flex;
    /* Căn giữa nội dung trong button */
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    align-items: center;
    /* Căn giữa theo chiều dọc */
    box-sizing: border-box;
    /* Đảm bảo padding và border không làm thay đổi kích thước */
  }

  #downloadButton {
    color: #0026a4;
  }

  button#shareButton {
    background-color: #0026a4;
    box-shadow: 0px 4px 0px white, 0px 6px 0px 0px #0026a4;
    /* Bóng trắng nằm trên, viền xanh nằm dưới */
    border: 2px solid #0026a4;
    color: white;
  }

  button#CloseButton {
    content: "";
    position: absolute;
    inset: 0;

    z-index: -1;
    transform: translateX(-100%);
    transition: transform 250ms;
  }

  button:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 3px 0px #0026a4;
  }

  button:active {
    filter: saturate(0.75);
  }

  button::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: white;
    z-index: -1;
    transform: translateX(-100%);
    transition: transform 250ms;
  }

  button#submitButton::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: linear-gradient(to right, #b3edfc, #fbd3f5);
    z-index: -1;
    transform: translateX(-100%);
    transition: transform 250ms;
  }

  button#shareButton::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #0026a4;
    z-index: -1;
    transform: translateX(-100%);
    transition: transform 250ms;
  }

  button:hover::after {
    transform: translateX(0);
  }

  .bgContainer {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    max-width: 50%;
    /* Adjust based on button text */
    font-size: 1.5em;
    font-weight: 600;
  }

  .bgContainer span {
    position: relative;
    transform: scale(1);
    transition: transform 250ms;
  }

  .button:hover .bgContainer > span {
    transform: scale(1.1);
    /* Slight scale on hover */
  }

  .arrowContainer {
    padding: 1em;
    margin-inline-end: 1em;
    border: 4px solid;
    border-radius: 50%;
    background-color: #ff7be3;
    position: relative;
    overflow: hidden;
    transition: transform 250ms, background-color 250ms;
    z-index: 100;
  }

  .arrowContainer::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background-color: white;
    transform: translateX(-100%);
    z-index: -1;
    transition: transform 250ms ease-in-out;
  }

  button:hover .arrowContainer::after {
    transform: translateX(0);
  }

  button:hover .arrowContainer {
    transform: translateX(5px);
  }

  button:active .arrowContainer {
    transform: translateX(8px);
  }

  .arrowContainer svg {
    vertical-align: middle;
  }

  #invitation {
    margin-top: 20px;
    display: none;
    font-size: 18px;
    color: #333;
  }

  .modal-content {
    background-image: url("./images/bg.png");
    background-size: cover;
    position: relative;
    overflow: hidden;
  }

  .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0%;
  }

  #invitationImage {
    max-width: 75%;
    height: auto;
  }

  /* Tắt viền phân cách giữa modal header và body */
  .modal-header {
    border-bottom: none;
  }

  /* Tắt viền phân cách giữa modal body và footer */
  .modal-footer {
    border-top: none;
    font-size: 20%;
  }

  .no-scroll {
    overflow: hidden;
    /* Vô hiệu hóa cuộn */
  }

  .text-container {
    display: flex;
    /* Sử dụng Flexbox */
    justify-content: center;
    /* Căn giữa theo trục X */
    align-items: center;
    /* Căn giữa theo trục Y */
    margin-bottom: 0%;
    margin-top: 2%;
  }

  .himg {
    margin-left: 0;
    height: 100%;
  }
  .contain {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  /* Responsive for mobile */

  @media (max-width: 740px) {
    #homeimg.himg {
      height: 48%;
    }
    .contain {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .containerr {
      height: 100%;
      padding: 5px;
    }
    h1 {
      font-size: 20px;
    }
    .form-container {
      padding: 15px;
      width: 70%;
      align-items: start;
    }
    input[type="text"] {
      font-size: 11px;
    }
    button#submitButton {
      padding: 30px;
    }
  }